@import url("https://fonts.cdnfonts.com/css/new-super-mario-font-u");

/* Styles for the header */
.header-container {
  background-image: url("../src/image/nesbackground.png");
  padding: 50px;
  background-position: center;
  background-size: auto;

  background-color: black;
  grid-row: 1;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.header {
  text-align: left;
}

h1 {
  font-family: "New Super Mario Font U", sans-serif;
  font-size: 94px;
  color: yellow;
  -webkit-text-stroke: 2px black;
}

/* Styles for the search box */
.search-container {
  grid-row: 2;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-box {
  width: 80%;
  max-width: 500px;
}

.search-button {
  margin-left: 10px;
}

/* Styles for the product list */
.product-list {
  grid-row: 2;
  grid-column: 1;
  overflow-y: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: 10px 0;
}

.card h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

/* Styles for the shopping cart */
.cart-container {
  background-image: url("https://1.bp.blogspot.com/-WgPRuO7DmBo/YEG1e0upgYI/AAAAAAAA9Mw/SyTv5maIdmAvEsVngZdmNeBU390wbiZwQCLcBGAsYHQ/s2160/super-mario-nintendo-4k-ek-1080x2160.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border-top: none;

  background-color: lightgray;

  height: 100%;
  grid-row: 2;
  grid-column: 2;
  overflow-y: auto;
}

.basket {
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.basket h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.basket ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.basket li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin: 10px;
}

.basket button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.basket button:hover {
  background-color: #c82333;
}

.basket p {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}

.cart > img {
  width: 100%;
}

/* General styles */
.list {
  width: 550px;
  height: 15px;

  border: 3px solid black;
  border-radius: 8px;
  padding: 18px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

button {
  font-family: "New Super Mario Font U", sans-serif;
  font-size: 150px;
  background-color: silver;
  color: red;
  border: 12 solid red;
  border-radius: 4px;
  padding: 18px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: black;
  border: 1px solid red;
}

.product-img {
  width: 200px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid black;
}

td {
  border-top: 1px solid black;
  text-align: left;
  padding-top: 16px;
  padding-left: 16px;
  background-color: white;
}

table:hover td {
  background-color: lightgray;
}

/* Styles for the overall layout */
.app-container {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  align-items: flex-start;
}

.banner1 > img {
  width: 100%;
}
/* Modal content*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content > p {
  width: 362px;
}

.modal-content {
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
}
/*https://a3q7w7y4.rocketcdn.me/wp-content/uploads/2015/09/mario-and-luigi-partners-in-time-banner.jpg*/
